*{
    box-sizing: content-box;
}

body {
    background-image: url("../../images/background.jpg");
    background-repeat:no-repeat;
    /* display: flex;
    justify-content: flex-start; */
  }
.back{
    display:flex;
    justify-content: space-around;
}
button{
   height:100px;
   width: 200px;
   color:red;
   font-size: 30px;
   margin-top:25%; 
}
a{
    text-decoration:none;
    color:red;
}
.instructions{
    height:400px;
    width:300px;
    background-color: lightgrey;
    margin-top:10%;
    border: 1px solid black;
    padding:4px;
    text-align:justify;
    font-size: 18px;

}
