body {
  background-color:white;
  color: #d9d9d9;
  font-family: Arial, sans-serif;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 200%;
}
svg{
  width: 100%;
}
#striB{
  fill: yellow;
  stroke: red;
  /* transform: rotate(45deg);
  transform-origin: 300px 100px; */
  border:1px solid black; 
}