body {
  background-color:rgb(47, 255, 116);
  color: #d9d9d9;
  font-family: Arial, sans-serif;
  text-align: center;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  line-height: 200%;
  
}

svg{
  width: 100%;
  
}
.image{
  display:flex;
  justify-content: flex-start;
}
.level1{
  
  background-image: url("/home/usuario/projects/Tangram-game/images/duck.xcf");
  
}